.FamilyTree {
  max-width: 100%;
  overflow: auto;
}

.personContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  width: 200px;
  height: 100px;
  margin: auto;
  box-shadow: -4px 3px 10px 4px lightgrey;
  border-radius: 5px;
  font-size: 15px;
}

.personDetails {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}

.personPicture {
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 0 6px #ccc;

  img {
    border-radius: inherit;
    box-shadow: inherit;
    height: inherit;
    width: inherit;
  }
}

.personName {
  width: 130px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10px;
  padding-right: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.actionButtons {
  height: 25px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  button {
    margin-right: 10px;
    height: 18px;
    width: 18px;
    min-width: 25px;
    min-height: 25px;
    box-shadow: initial;
    background-color: initial;
  }

  button:hover {
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14),
    0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  }
}

.miniFab {
  max-height: 30px;
  max-width: 35px;
}

.drawerPaper {
  width: 40%;
  padding: 30px 30px 30px 30px;
}

@media (max-width: 768px) {
  .drawerPaper {
    width: 70%;
  }
}

// Tree
* {
  margin: 0;
  padding: 0;
}

.treeContainer {
  width: max-content;

  ul {
    padding-top: 20px;
    position: relative;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
  }

  li {
    float: left;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
  }

  /*We will use ::before and ::after to draw the connectors*/
  li::before,
  li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 1px solid #ccc;
    width: 50%;
    height: 20px;
  }

  li::after {
    right: auto;
    left: 50%;
    border-left: 1px solid #ccc;
  }

  /*We need to remove left-right connectors from elements without any siblings*/
  li:only-child::after,
  li:only-child::before {
    display: none;
  }

  /*Remove space from the top of single children*/
  li:only-child {
    padding-top: 0;
  }

  /*Remove left connector from first child and right connector from last child*/
  li:first-child::before,
  li:last-child::after {
    border: 0 none;
  }

  /*Adding vertical connector to the last nodes*/
  li:last-child::before {
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
  }

  li:first-child::after {
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
  }

  /*Downward connectors from parents*/
  ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1px solid #ccc;
    width: 0;
    height: 20px;
  }
}

